<footer *ngIf="type === 'complete'">
  <section class="footer-section pages">
    <h2 class="footer-title">Páginas</h2>
    <ul class="footer-list">
      <li class="footer-item">
        <a class="footer-link" href="javascript:void();">Politicos</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="javascript:void();">Partidos</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="javascript:void();">Eventos</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="javascript:void();">Proposições</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="javascript:void();">Sobre</a>
      </li>
    </ul>
  </section>

  <section class="footer-section social">
    <h2 class="footer-title">Social</h2>
    <ul class="footer-list">
      <li class="footer-item">
        <a class="footer-link facebook" href="javascript:void();"><ion-icon name="logo-facebook"></ion-icon></a>
      </li>
      <li class="footer-item">
        <a class="footer-link twitter" href="javascript:void();"><ion-icon name="logo-twitter"></ion-icon></a>
      </li>
      <li class="footer-item">
        <a class="footer-link github" href="javascript:void();"><ion-icon name="logo-github"></ion-icon></a>
      </li>
    </ul>
  </section>

  <section class="footer-section sources">
    <h2 class="footer-title">Fontes</h2>
    <ul class="footer-list">
      <li class="footer-item">
        <a class="footer-link" href="javascript:void();">API Senado</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="javascript:void();">API Camara</a>
      </li>
    </ul>
  </section>
</footer>
<p class="bottom">Politicamente - Compartilhe <ion-icon name="heart"></ion-icon></p>
