<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button class="button-menu">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons slot="end">
      <!--
      * * * * * * * * * * * * * * * * * * * * * * * * * * *
      * TODO: Create a searchbar to search all resources  *
      * avaliables (parliamentarians, propositions...)    *
      * * * * * * * * * * * * * * * * * * * * * * * * * * *
      <ion-button appToggleSearchbar class="button-search">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
