@font-face {
    font-family: Gibson;
    font-weight: normal;
    src: url('/assets/fonts/gibson/regular.ttf');
}

@font-face {
    font-family: Gibson;
    font-weight: 600;
    src: url('/assets/fonts/gibson/semibold.ttf');
}